<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home - Code Java</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Welcome to CodeJava.net</h1>
		</div>
		<div>
			<h3>
				<a th:href="@{/register}">Register 
			</h3>
			<h3>
				<a th:href="@{/list_users}">Lista todos los usuarios 
			</h3>
			<h3>
				<a th:href="@{/list_food}">Lista todos los alimentos 
			</h3>
			<h3>
				<a th:href="@{/login}">Login 
			</h3>
		</div>
	</div>

</body>
</html>