<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
<title>UserNutriApp</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link href="css/style.css" type="text/css" rel="stylesheet" media="all">   
<link href="css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons --> 
<link rel="stylesheet" href="css/smoothbox.css" type='text/css' media="all" /> 
<!-- //Custom Theme files --> 

<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!-- //js -->

<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
<!-- //web-fonts -->
</head>

<body> 
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1>NutriApp</h1>
				</div> 
				
					<div class="banner-text w3labout-bnr"> 
							<h2 >Cuenta de usuario</h2>   
					</div>
			</div>
		</div>
		<!-- //header --> 
		<!-- banner-text -->

		<!-- //banner-text -->
	</div>
	<!-- //banner -->   
	<!-- gallery -->
	<div class="about gallery">
		<div class="container">  
			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist" id="myTab">
				  <li role ="presentation"  class="nav-item" >
				    <a href="#seccion1" data-toggle="tab" role="tab" class="nav-link active">Menús</a>
				  </li>
				</ul>	
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="seccion1">
						<div class="dropdown">
							  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="width:200px;margin-left: 43.5%;margin-bottom: 60px;margin-top: 25px;">
							    Crear nuevo menú
							  </a>
							
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 15.5%;">
							    <li><a class="dropdown-item" th:href="@{/user/crear_menu_individual}">Menú individual</a></li>
							    <li><a class="dropdown-item" th:href="@{/user/crear_menu_grupal}">Menú grupal</a></li>
							  </ul>
						</div>
						<div class ="row">
							<table class="table">
							  <thead>
							    <tr >
							      <th scope="col">Fecha Creación</th>
							      <th scope="col" style="width:27%">Nombre del menú</th>
							      <th scope="col" style="width:35%">Descripción</th>
							      <th scope="col" data-field="action" style="margin-left:30%">Operacion</th>
							      <th scope="col" style="margin-left:30%">Tablas</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr th:each="menu: ${listMenus}">
				                    <td th:text="${menu.fecha_creacion}">Fecha Creación</td>
				                    <td th:text="${menu.nombre_menu}" style="width:27%">Nombre del menú</td>
				                    <td th:text="${menu.descripcion}" style="width:35%">Descripción</td>
			                    	<td >
										 <div class="botonesEdicion" >
										 	<a th:href="@{'/user/editMenu/' + ${menu.id_menu}}" class="btn btn-info btn-lg" style="background-color: #4CBB17;border-color: #4CBB17;color:#ffffff;;font-size:0.9rem;">Editar</a>
								        	<a th:href="@{'/user/deleteMenu/' + ${menu.id_menu}}" class="btn btn-info btn-lg" style="margin-left:20px;background-color:#FF3333;border-color:#FF3333;;color:#ffffff;font-size:0.9rem; " >Eliminar</a>
										 </div>     	                    	
				                    </td>
				                    <td >
		                    			<div class="botonesEdicion" >
					                    	<a th:href="@{'/user/ComponentesMenu/' + ${menu.id_menu}}" class="btn btn-info btn-lg" style="background-color: #3c89d0;border-color:#3c89d0;color:#ffffff;font-size:0.9rem;">Componentes</a>
					                    	<a th:href="@{'/user/AlergenosMenu/' + ${menu.id_menu}}" class="btn btn-info btn-lg" style="margin-left:20px;background-color: #c38452;border-color:#c38452;color:#ffffff;font-size:0.9rem;">Alérgenos</a>
					                   	</div>
				                    </td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<!-- //gallery -->  
	<!-- footer -->
	<div class="footer">
		<div class="container">

			<!-- <div class="col-md-5 col-sm-5 agileinfo_footer_grid"> -->
				<!-- <h3 class="agileits-title">About Us</h3> -->
				<!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu  -->
					<!-- fugiat nulla pariatur. <span>Excepteur sint occaecat cupidatat non proident  -->
					<!-- sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p> -->
			<!-- </div> -->
			<!-- <div class="col-md-3 col-sm-3 agileinfo_footer_grid mid-w3l nav2"> -->
				<!-- <h3 class="agileits-title">Popular</h3> -->
				<!-- <ul> -->
					<!-- <li><a href="#myModal" data-toggle="modal"><i class="fa fa-arrow-right"></i> Proin placerat</a></li> -->
					<!-- <li><a href="#myModal" data-toggle="modal"><i class="fa fa-arrow-right"></i> Ipsum et rutrum</a></li> -->
					<!-- <li><a href="#myModal" data-toggle="modal"><i class="fa fa-arrow-right"></i> Proin semper utr</a></li> -->
					<!-- <li><a href="#myModal" data-toggle="modal"><i class="fa fa-arrow-right"></i> Ligula sit amet</a></li> -->
				<!-- </ul> -->
			<!-- </div> -->
			<!-- <div class="col-md-4 col-sm-4 agileinfo_footer_grid"> -->
				<!-- <h3 class="agileits-title">Address</h3> -->
				<!-- <ul> -->
					<!-- <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 738 Diamond Road, New York City</li> -->
					<!-- <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">info@example.com</a></li> -->
					<!-- <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (0123) 0111 111 222</li> -->
				<!-- </ul> -->
			<!-- </div>  -->
			<div class="clearfix"> </div>
			<div class="w3agile_footer_copy">
				<p>© 2017 Dine. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts.</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- modal-about -->
<!-- 	<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog"> -->
<!-- 		<div class="modal-dialog" role="document"> -->
<!-- 			<div class="modal-content"> -->
<!-- 				<div class="modal-header"> -->
<!-- 					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						 -->
<!-- 				</div>  -->
<!-- 				<div class="modal-body modal-spa"> -->
<!-- 					<img src="images/g2.jpg" class="img-responsive" alt=""/> -->
<!-- 					<div class="modal-w3lstext"> -->
<!-- 						<h4>Blanditiis deleniti</h4> -->
<!-- 						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate in. Fusce lacus purus, pulvinar ut lacinia id, sagittis eumi.</p> -->
<!-- 					</div>  -->
<!-- 				</div>  -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<!-- //modal-about -->    
	<!-- menu-js -->
	<script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
	</script> 
	<!-- //menu-js -->
	<!-- jarallax -->  
	<script src="js/SmoothScroll.min.js"></script> 
	<script src="js/jarallax.js"></script> 
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>  
	<!-- //jarallax --> 
	<!-- start-smooth-scrolling --> 
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	 
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
	</script>
	<script>
    $(document).ready(function(){
        // Open modal on page load
        $("#myModal").modal('show');
        // Close modal on button click
        $(".btn").click(function(){
            $("#modal1").modal('hide');
        });
    });
	</script>

	<!-- //smooth-scrolling-of-move-up -->  		
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>