<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Todos los usuarios</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class="container text-center">
<!-- 		<div> -->
<!-- 			<form th:action="@{/logout}" method="post"> -->
<!-- 				<p> -->
<!-- 					Bienvenida <b>[[${#request.userPrincipal.principal.fullName}]]</b> ! -->
<!-- 				</p> -->
<!-- 				<input type="submit" value="Salir de esta cuenta" /> -->
<!-- 			</form> -->
<!-- 		</div> -->
		<div>
			<h1>Lista de todos los usuarios</h1>
		</div>
<!-- 		<div> -->
<!-- 			<table class="table table-striped table-bordered"> -->
<!-- 				<thead class="thead-dark"> -->
<!-- 					<tr> -->
<!-- 						<th>Id -->
<!-- 						<th>E-mail</th> -->
<!-- 						<th>First name</th> -->
<!-- 						<th>Last Name</th> -->
<!-- 					</tr> -->
<!-- 				</thead> -->
<!-- <!-- 				<tbody> --> -->
<!-- <!-- 					<tr th:each="user: ${listUsers}"> --> -->
<!-- <!-- 						<td th:text="${user.id}">User ID</td> --> -->
<!-- <!-- 						<td th:text="${user.email}">Correo electrónico</td> --> -->
<!-- <!-- 						<td th:text="${user.firstName}">Nombre</td> --> -->
<!-- <!-- 						<td th:text="${user.lastName}">Apellidos</td> --> -->
<!-- <!-- 					</tr> --> -->
<!-- <!-- 				</tbody> --> -->
<!-- 			</table> -->
<!-- 		</div> -->
	</div>

</body>
</html>